.casa{
    text-align: center;
    padding: 32px;
}

.casa h3{
    color: #211F1A;
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.casa .bruxos{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}